body{
	background-image:url(../image/birds.png)url(../image/butterflies.png), url(../image/garden.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top center left, center;
	background-size:400px, cover;

}
h1{
	color:#ccc;
	text-align:center;
	font-size:30px;
}

.content{
	width:400px;
	min-height:300px;
	padding:40px;
	margin:60px auto;
	background-color:rgba(0,0,0,0.5);
	background-size:60px;
	color:#ccc;
	font-size:20px;
}